[core]
    excludesfile = ~/.gitignore
    editor = vim -u ~/.vim/vimrc-gitcommit

[gc]
    auto = 1

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    st = status
    co = checkout

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool]
    prompt = false

[push]
    default = simple

[pull]
    rebase = false
